@charset "UTF-8";
/* Module: Typography */
/* Module: Utils: screen-sizes/media queries. (Ole) */
/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
/* Module: Utils: screen-sizes/media queries. (Ole) */
/* Module: Universal Colors / Fargebank */
/* Alle fargene som kan brukes direkte fra CSS variabler */
:root {
  --color-white: #ffffff;
  --color-gray: #;
  --color-gray-light: #;
  --color-gray-dark: #;
  --color-gray-darker: #;
  --color-dark: #333333;
  --color-black: #000000;
  /* her kommer flere farger til fargebanken. Ingen farger skal brukes utenom det som ligger her*/
}

/* Module: Colors-Brand */
/* Profil/brand/merkevare/kommunehåndbok/bedrift */
:root {
  /* Start Custom - Egne farger utenfor system eksempel */
  --custom-brand-color-trettenti: #0d2d66;
  /* End Custom - Egne farger utenfor system eksempel */
  /* Hovedfarger - Bruk Hex, eller Hex8 for alpha transparency */
  --brand-color-primary: #72cf39;
  --brand-color-secondary: #4aa0d5;
  --brand-color-tertiary: #ff7315;
  /* Utangspunkt i hovedfargerne. Bruk denne siden(http://color.habana.no/) for enten hover(15%), darken(22%, 28%) eller lighten(37%, 40%)*/
  --brand-color-primary-hover: #509725;
  --brand-color-primary-dark: #346218;
  --brand-color-primary-light: #e7f7dd;
  --brand-color-secondary-hover: #88c1e3;
  --brand-color-secondary-dark: #21648e;
  --brand-color-secondary-light: #e3f0f9;
  --brand-color-tertiary-hover: #ffa161;
  --brand-color-tertiary-dark: #d75600;
  --brand-color-tertiary-light: #ffdec7;
}

/* Module: Colors */
/* DENNE SKAL NOK UT. HAR BLITT REPLACED MED _variables */
/* Komponenter */
/* Hente farger fra universal colors (?)-komprimert fil */
:root {
  --border-white: var(color-white);
  --border-gray: var(color-white);
  --border-gray-light: var(color-white);
  --border-gray-dark: var(color-white);
  --border-gray-darker: var(color-white);
  --border-dark: var(--color-white);
  --border-black: var(--color-black);
  --border-primary: var(--brand-color-primary);
  --bg-white: var(color-white);
  --border-gray: var(color-white);
  --border-gray-light: var(color-white);
  --border-gray-dark: var(color-white);
  --border-gray-darker: var(color-white);
  --border-dark: var(color-white);
}

/* tester Sass variabler i map og funksjoner
$colors: (
  primary: red,
  white: var(--color-white),
  black: var(--color-black),
);
/* Funksjon som gjør at man kan skrive color(white) fremfor map-get($colors, white). 
@function color($color-name) {
  @return map-get($colors, $color-name)
}

body {
  background-color: color(white);
  color: color(black);

  background-color: var(--minsystemfarge) !important;
}
*/
/*html {font-size: 100%;} /*16px*/
/*
@include tablet {
  html {font-size: 112.5%;} /*16px*/
/*}*/
body {
  /* background-color og color ligger under _color-system */
  /* Font Family (har tidligere ligget i bootstrap-min.css) og styleallcustom*/
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Font Headings */
.text-6xl {
  font-size: var(--size-4);
}

.text-5xl {
  font-size: var(--size-35);
}

.text-4xl {
  font-size: var(--size-3);
}

h1, .h1 .text-3xl {
  font-size: 1.802rem;
  /* 40px */
}

h2, .h2 .text-2xl {
  font-size: 1.602rem;
  /* 32px */
}

h3, .h3 .text-xl {
  font-size: 1.424rem;
  /* 28px */
}

h4, .h4 .text-lg {
  font-size: 1.266rem;
  /* 24px */
}

h5, .h5 {
  font-size: 1.125rem;
  /* 20px */
}

h6, .h6 .text-md {
  font-size: var(--size-1);
  /* 16px */
}

p {
  font-size: var(--size-1);
}

small, .small, .text-small {
  font-size: 0.889rem;
}

smaller, .text-smaller {
  font-size: var(--size-075);
}

a {
  color: var(--link-color);
  background-color: transparent;
  text-decoration: none;
}
a:link {
  color: var(--link-color);
}
a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
  outline: 0;
}
a:focus {
  color: var(--link-color-hover);
  text-decoration: underline;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:active {
  color: var(--link-color-hover);
  outline: 0;
}
a:visited {
  color: var(--link-color-hover);
}

/* Module: Buttons */
/* Henter farger fra css variabler i _brand/_colors */
:root {
  /* Start Custom */
  --custom-button-1: var(--custom-brand-color-trettenti);
  /* End Custom */
  --border-radius-025: var(--size-025);
  --border-radius-05: var(--size-05);
  --border-radius-1: var(--size-1);
}

/* Hovedknapper scss variabler(skjules i vanlig css) - ikke touch - kan endre selve variablen fra f.eks primary til en annen.*/
/* Bruker dobbel-metode med Sass variabler */
.button-primary {
  background-color: var(--brand-color-primary);
  color: var(--color-black);
}
.button-primary:hover {
  background-color: var(--brand-color-primary-dark);
  color: var(--color-white);
}

/* direkte inn fra hovedfarger */
.button-primary {
  background-color: var(--brand-color-primary);
  color: var(--color-dark);
}
.button-primary:hover {
  background-color: var(--brand-color-primary-dark);
  color: var(--color-white);
  color: color(white);
}

.button-secondary {
  background-color: var(--brand-color-secondary);
  color: var(--color-dark);
}
.button-secondary:hover {
  background-color: var(--brand-color-secondary-dark);
  color: var(--color-white);
}

/*
.button-secondary {
  background-color: $button-secondary;
  color: $button-secondary-text;
  &:hover {
    background-color: $button-secondary-dark;
    color: $button-secondary-text-hover;
  }
}
*/
.button-secondary {
  background-color: var(--brand-color-secondary);
}

.button-tertiary {
  background-color: var(--brand-color-tertiary);
}

.button-large, .button-medium, .button-small, .button-extra-small {
  position: relative;
  display: inline-block;
  border: 1px solid;
  line-height: 1.5;
  font-weight: 600;
}

.button-large {
  border-radius: var(--border-radius-1);
}

.button-medium {
  border-radius: var(--border-radius-05);
}

/* button-small og extra-small er tatt fra github:buttons*/
.button-small {
  border-radius: var(--border-radius-025);
  padding: 3px 10px;
  font-size: 12px;
}

.button-extra-small {
  border-radius: var(--border-radius-025);
  padding: 2px 5px;
  font-size: 11px;
}

/* skal hete kun text-white */
.text-white {
  color: var(--color-white);
}

.text-dark {
  color: var(--color-dark);
}

/* skal hete kun w-100 */
.button-fw {
  width: 100%;
}

/* SKAL LETT KUNNE OVERSTYRES AV BRAND. DETTE ER VARIABLER SOM SKAL KUNNE STYRES FOR Å DESIGNE(F.eks ved valg om harde eller runde hjørner)*/
body {
  background-color: var(--color-white);
  color: var(--color-dark);
}

/* GENERAL SIZES */
:root {
  /* Border Radius (small, medium & large) -fill gjelder for å dekke hullet som blir igjen når man legger på border utenfor */
  --border: 1px solid;
  --size-border-radius-sm: 4px;
  --size-border-radius-sm-fill: calc(var(--panel-border-radius-sm) + 1px);
  --size-border-radius-md: 8px;
  --size-border-radius-md-fill: calc(var(--panel-border-radius-md) + 1px);
  --size-border-radius-lg: 12px;
  --size-border-radius-lg-fill: calc(var(--panel-border-radius-lg) + 1px);
  --box-shadow-sm: red;
  --box-shadow-md: red;
  --box-shadow-lg: red;
}

/* GENERAL COLORS */
:root {
  --link-color: var(--brand-color-primary);
  --link-color-hover: var(--brand-color-primary-hover);
  --text-dark: var(--color-dark);
}

/* Panels */
:root {
  --panel-border-radius-sm: var(--size-border-radius-md);
  --panel-border-radius-sm-fill: var(--size-border-radius-md-fill);
  --panel-border-radius-md: var(--size-border-radius-md);
  --panel-border-radius-md-fill: var(--size-border-radius-md-fill);
  --panel-border-radius-lg: var(--size-border-radius-md);
  --panel-border-radius-lg-fill: var(--size-border-radius-md-fill);
  --panel-border: var(--border);
  --panel-box-shadow: var(--box-shadow-md);
  --panel-border-color: #dddddd;
  --panel-background-color: var(--color-white);
  --panelbody-background-color:rgba(255, 255, 255, 0.9);
  --panelfooter-background-color: #f5f5f5;
  --panelheading-color: #333;
  --panelheading-background-color: #f5f5f5;
}

/* END - Panels */
/* Calendar */
:root {
  --calendar-event-background: var(--brand-color-primary-light);
  --calendar-event-heading: var(--brand-color-primary-dark);
  --calendar-event-text: var(--brand-color-primary-dark);
  --calendar-event-background-secondary: var(--brand-color-secondary-light);
  --calendar-event-heading-secondary: var(--brand-color-secondary-dark);
  --calendar-event-text-secondary: var(--brand-secondary-primary-dark);
  --calendar-link-color: var(--link-color);
}

/* END - Calendar */
/* Dark mode */
/* BETA BETA BETA */
/* Må bruke variabler etterhvert. */
/* Alle Dark-mode fargene starter med --dark- */
:root {
  --dark-color-white: var(--color-white) !important;
  --dark-color-white-opacity: rgba(255, 255, 255, .8) !important;
  --dark-color-dark: #606368 !important;
  --dark-color-darker: #3C4042 !important;
  --dark-color-darkest: #202123 !important;
}

@media screen and (prefers-color-scheme: dark) {
  /* Generelt */
  body {
    background-color: var(--dark-color-darkest) !important;
    color: var(--dark-color-white-opacity);
  }

  /* Panels */
  .panel-default > .panel-heading {
    color: var(--dark-color-white);
    background-color: var(--dark-color-dark);
    /* ??? border-color: var(--panel-border-color) !important; */
  }

  /* Tables */
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: var(--dark-color-dark);
  }
}
/* Module: Typography-spacing */
:root {
  --baseline: 24px;
  /* spacing values */
  --space-sm: calc(var(--baseline)/2);
  --space-md: var(--baseline);
  --space-lg: calc(var(--baseline)*2);
}

h1,
h2,
h3,
.text-6xl,
.text-5xl,
.text-4xl,
.text-3xl,
.text-2xl,
.text-xl {
  line-height: 1.2;
  margin-bottom: var(--space-md);
  font-weight: 500;
}

h4,
h5,
h6,
.text-lg,
.text-md {
  line-height: 1.5;
  margin-bottom: var(--space-sm);
  font-weight: 500;
}

p {
  line-height: 1.5;
  /*margin-bottom: 1rem;*/
}

small,
.small,
.text-small {
  line-height: 1.5;
}

smaller,
.text-smaller {
  line-height: 1.5;
}

/*
   __ __   ___    ___    ___    _  __   ___ 
  / // /  / _ |  / _ )  / _ |  / |/ /  / _ |
 / _  /  / __ | / _  | / __ | /    /  / __ |
/_//_/  /_/_|_|/____/ /_/ |_|/_/|_/  /_/ |_|
  ____    ____       _      _   _   ____  
 | __ )  |  _ \     / \    | \ | | |  _ \ 
 |  _ \  | |_) |   / _ \   |  \| | | | | |
 | |_) | |  _ <   / ___ \  | |\  | | |_| |
 |____/  |_| \_\ /_/   \_\ |_| \_| |____/                                                                                                                                   
*/