@charset "UTF-8";
/* Module: Utils: screen-sizes/media queries. (Ole) */
/* Module: Universal Colors / Fargebank */
/* Alle fargene som kan brukes direkte fra CSS variabler */
:root {
  --color-white: #ffffff;
  --color-gray-lightest: #F7F7F7;
  --color-gray-lighter: #E8E8E8;
  --color-gray-light: #dddddd;
  --color-gray: #515151;
  --color-gray-dark: #333333;
  --color-gray-darker: #262626;
  --color-black: #000000;
}

/* her kommer flere farger til fargebanken. Ingen farger skal brukes utenom det som ligger her*/
/* Module: Colors-Brand */
/* Profil/brand/merkevare/kommunemal/bedrift */
:root {
  /* Start Custom - Egne farger utenfor system eksempel */
  --custom-brand-color-trettenti: #0d2d66;
  /* End Custom - Egne farger utenfor system eksempel */
  /* Hovedfarger - Bruk Hex, eller Hex8 for alpha transparency */
  --brand-color-primary: #72cf39;
  --brand-color-secondary: #4aa0d5;
  --brand-color-tertiary: #ff7315;
  /* Utangspunkt i hovedfargerne. Bruk denne siden(http://color.habana.no/) for enten hover(15%), darken(22%, 28%) eller lighten(37%, 40%)*/
  --brand-color-primary-hover: #509725;
  --brand-color-primary-dark: #346218;
  --brand-color-primary-light: #e7f7dd;
  --brand-color-secondary-hover: #88c1e3;
  --brand-color-secondary-dark: #21648e;
  --brand-color-secondary-light: #e3f0f9;
  --brand-color-tertiary-hover: #ffa161;
  --brand-color-tertiary-dark: #d75600;
  --brand-color-tertiary-light: #ffdec7;
}

/* Module: Colors */
/* DENNE SKAL NOK UT. HAR BLITT REPLACED MED _variables */
/* Komponenter */
/* Hente farger fra universal colors (?)-komprimert fil */
:root {
  --border-white: var(color-white);
  --border-gray: var(color-white);
  --border-gray-light: var(color-white);
  --border-gray-dark: var(color-white);
  --border-gray-darker: var(color-white);
  --border-dark: var(--color-white);
  --border-black: var(--color-black);
  --border-primary: var(--brand-color-primary);
  --bg-white: var(color-white);
}

/* tester Sass variabler i map og funksjoner
$colors: (
  primary: red,
  white: var(--color-white),
  black: var(--color-black),
);
/* Funksjon som gjør at man kan skrive color(white) fremfor map-get($colors, white). 
@function color($color-name) {
  @return map-get($colors, $color-name)
}

body {
  background-color: color(white);
  color: color(black);

  background-color: var(--minsystemfarge) !important;
}
*/
/* Module: Typography */
/* Module: Utils: screen-sizes/media queries. (Ole) */
/* Import fonts */
/*@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");*/
/*html {font-size: 100%;} /*16px*/
/*
@include tablet {
  html {font-size: 112.5%;} /*16px*/
/*}*/
body {
  /* background-color og color ligger under _color-system */
  /* Font Family (har tidligere ligget i bootstrap-min.css) og styleallcustom*/
  /*font-family: 'Inter', Helvetica, Arial, sans-serif !important;*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Font Headings */
.text-6xl {
  font-size: var(--size-4);
}

.text-5xl {
  font-size: var(--size-35);
}

.text-4xl {
  font-size: var(--size-3);
}

h1, .h1 .text-3xl {
  font-size: 1.802rem;
  /* 40px */
}

h2, .h2 .text-2xl {
  font-size: 1.602rem;
  /* 32px */
}

h3, .h3 .text-xl {
  font-size: 1.424rem;
  /* 28px */
}

h4, .h4 .text-lg {
  font-size: 1.266rem;
  /* 24px */
}

h5, .h5 {
  font-size: 1.125rem;
  /* 20px */
}

h6, .h6 .text-md {
  font-size: var(--size-1);
  /* 16px */
}

p {
  font-size: var(--size-1);
  margin-top: 0rem;
}

small, .small, .text-small {
  font-size: 0.889rem;
}

smaller, .text-smaller {
  font-size: var(--size-075);
}

/* a */
a {
  color: var(--link-color);
  background-color: transparent;
  text-decoration: none;
}
a:link {
  color: var(--link-color);
}
a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
  outline: 0;
}
a:focus {
  color: var(--link-color-hover);
  text-decoration: underline;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:active {
  color: var(--link-color-hover);
  outline: 0;
}
a:visited {
  color: var(--link-color-hover);
}

/*Definert for komponenter*/
.panel-heading h2 {
  font-size: 1.25em;
  margin: 3px 0 0 0;
  padding-bottom: 5px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

h3.box1itemHeading {
  word-wrap: break-word;
}

.box0text, .box1text {
  word-wrap: break-word;
}

.box1text {
  padding: 5px 0px 5px 0px !important;
  /*padding: 0 0 5px 0 !important;*/
  top: 0px !important;
  margin-bottom: 0px !important;
  position: relative;
  /*top: -5px;*/
  z-index: 0;
}

.box0text {
  padding: 0px;
}

/* start - tester om dette fungerer uten å lage mye feil */
.t51 .box1text {
  margin: 0px;
}

.t51.article.panel.panel-default.fieldarticle .panel-body {
  margin: 10px 10px 0px 10px;
  padding: 0;
}

.t51.article.panel.panel-default.panel-noBG.fieldarticle .panel-body {
  margin: 0px;
}

.t51.article.panel.panel-default.panel-noBG.singlearticle .panel-body {
  padding: 0px;
}

/* end - tester om dette fungerer uten å lage mye feil - funker*/
/* START - Fra moava.css */
h3.box1itemHeading {
  word-break: break-word;
}

td h3.box1itemHeading,
td h3.box0itemHeading {
  margin-top: 0px;
}

.t15 .table a > .box1itemHeading,
.t15 .table a > .box0itemHeading,
.t2 .panel-body a.box1itemHeadingLink > h3,
.t2 .panel-body a.box0itemHeadingLink > h3 {
  margin-top: 0px !important;
  margin-bottom: 10px;
}

h2.box1heading {
  display: block !important;
}

/* IE / Firefox fix for overlap on underline */
/* END - Fra moava.css */
/* Titles (fra webpages) */
h1 {
  font-size: 2em;
}

#pagename {
  margin-top: 0px;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.15em;
}

/* -- END -- Titles (fra webpages) */
/* Module: Buttons */
:root {
  /* Hovedbrytere for farger på knapper og knappetekst*/
  /* Button Primary Color */
  --button-primary-color: var(--brand-color-primary);
  --button-primary-color-dark: var(--brand-color-primary-dark);
  --button-primary-color-light: var(--brand-color-primary-light);
  /* Hover */
  --button-primary-color-hover: var(--brand-color-primary-light);
  /* Text & hover */
  --button-primary-color-text: var(--color-black);
  --button-primary-color-text-hover: var(--brand-color-primary-dark);
  /* Button Secondary Color */
  --button-secondary-color: var(--brand-color-secondary);
  --button-secondary-color-dark: var(--brand-color-secondary-dark);
  --button-secondary-color-light: var(--brand-color-secondary-light);
  /* Hover */
  --button-secondary-color-hover: var(--brand-color-secondary-light);
  /* Text & hover */
  --button-secondary-color-text: var(--color-black);
  --button-secondary-color-text-hover: var(--brand-color-secondary-dark);
}

/* NYTT 2021 - for testing på index.html */
/* Eksempel på oppsett Farger direkte inn fra hovedfarger */
.button-primary {
  background-color: var(--button-primary-color);
  color: var(--button-primary-color-text);
}
.button-primary:hover {
  background-color: var(--button-primary-color-hover);
  color: var(--button-primary-color-text-hover);
}

.button-secondary {
  background-color: var(--button-secondary-color);
  color: var(--button-secondary-color-text);
}
.button-secondary:hover {
  background-color: var(--button-secondary-color-hover);
  color: var(--button-secondary-color-text-hover);
}

/* SKAL LETT KUNNE OVERSTYRES AV BRAND. DETTE ER VARIABLER SOM SKAL KUNNE STYRES FOR Å DESIGNE(F.eks ved valg om harde eller runde hjørner)*/
body {
  background-color: var(--color-white);
  color: var(--color-dark);
}

/* GENERAL SIZES */
:root {
  /* Border Radius (small, medium & large) -fill gjelder for å dekke hullet som blir igjen når man legger på border utenfor */
  --border: 1px solid;
  --size-border-radius-sm: 4px;
  --size-border-radius-sm-fill: calc(var(--panel-border-radius-sm) + 1px);
  --size-border-radius-md: 6px;
  --size-border-radius-md-fill: calc(var(--panel-border-radius-md) + 1px);
  --size-border-radius-lg: 8px;
  --size-border-radius-lg-fill: calc(var(--panel-border-radius-lg) + 1px);
  --size-border-radius-xl: 12px;
  --size-border-radius-xl-fill: calc(var(--panel-border-radius-xl) + 1px);
  --box-shadow-light: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-lighter: 0px 4px 8px rgba(0, 0, 0, 0.03);
  --box-shadow-lightest: 0px 2px 4px rgba(161, 161, 161, 0.05);
}

/* GENERAL COLORS */
:root {
  --link-color: var(--brand-color-primary);
  --link-color-hover: var(--brand-color-primary-hover);
  --text-dark: var(--color-gray-dark);
}

/* Navbar og topplogo */
:root {
  --navbar-align-center: center;
  --headermain-border-radius: 0;
  --headermain-border-radius-bpmonitor: var(--size-border-radius-lg);
  /* Navbar items */
  --navbar-text-color: white;
}

/* Panels */
:root {
  --panel-border-radius-sm: var(--size-border-radius-sm);
  --panel-border-radius-sm-fill: var(--size-border-radius-sm-fill);
  --panel-border-radius-md: var(--size-border-radius-md);
  --panel-border-radius-md-fill: var(--size-border-radius-md-fill);
  --panel-border-radius-lg: var(--size-border-radius-lg);
  --panel-border-radius-lg-fill: var(--size-border-radius-lg-fill);
  --panel-border: var(--border);
  --panel-box-shadow: var(--box-shadow-md);
  --panel-border-color: var(--color-gray-light);
  --panel-background-color: rgba(255, 255, 255, 0.9);
  --panelfooter-background-color: var(--color-gray-lightest);
  --panelheading-color: #333;
  --panelheading-background-color: var(--color-gray-lightest);
}

/* END - Panels */
/* Calendar */
:root {
  --calendar-event-background: var(--brand-color-primary-light);
  --calendar-event-border-color: var(--color-gray-lightest);
  --calendar-event-heading: var(--brand-color-primary-dark);
  --calendar-event-text: var(--brand-color-primary-dark);
  --calendar-event-background-secondary: var(--brand-color-secondary-light);
  --calendar-event-heading-secondary: var(--brand-color-secondary-dark);
  --calendar-event-text-secondary: var(--brand-color-secondary-dark);
  --calendar-link-color: var(--link-color);
}

/* END - Calendar */
/* Dropdowns */
:root {
  /* Dropdown */
  --dropdown-background-color: var(--color-white);
  --dropdown-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  --dropdown-border-radius: var(--size-border-radius-lg);
  /* Item */
  --dropdown-item-border-radius: var(--size-border-radius-md);
  --dropdown-item-text: #333333;
  /* Item hover */
  --dropdown-item-text-hover: #262626;
  --dropdown-item-background-color-hover: var(--color-gray-lightest);
  /* Item Active */
  --dropdown-item-text-active: var(--color-white);
  --dropdown-item-background-color-active: #0A63D6;
}

/* END - Dropdowns */
/* Newsfield */
:root {
  --newsfield-background-color: var(--color-gray-lightest);
  --newsfield-box-background-color: var(--color-white);
  --newsfield-box-border: var(--border) var(--color-gray-lighter);
  --newsfield-box-border-radius: var(--size-border-radius-lg);
  --newsfield-box-shadow: var(--box-shadow-lighter);
}

/* END - Newsfield */
/* Breadcrumb */
:root {
  --breadcrumb-background-color: var(--color-gray-lightest);
  --breadcrumb-border-radius: var(--size-border-radius-lg);
}

/* END - Breadcrumb */
/* Temafiler */
/* Habana komponenter */
/* Habana Card */
:root {
  --hcard-background: white;
  --hcard-gap: 4px;
  --hcard-border: 1px solid green;
  --hcard-border-radius: 4px;
  /* body */
  --hcard-body-gap: 6px;
  --hcard-body-padding: 24px 36px;
  /* Lite kort*/
  --hcard-body--small-gap: 3px;
  --hcard-body--small-padding: 12px 18px;
  /* hcard Link Block */
  --hcard-linkBlock-background: var(--brand-color-primary-light);
  --hcard-linkBlock-background-hover: var(--brand-color-primary-hover);
  --hcard-linkBlock-color: var(--brand-color-primary-dark);
  --hcard-linkBlock-color-hover: var(--brand-color-primary-light);
}

/* END - Habana Card */
/* Module: Typography-spacing */
:root {
  --baseline: 24px;
  /* spacing values */
  --space-sm: calc(var(--baseline)/2);
  --space-md: var(--baseline);
  --space-lg: calc(var(--baseline)*2);
}

h1,
h2,
h3,
.text-6xl,
.text-5xl,
.text-4xl,
.text-3xl,
.text-2xl,
.text-xl {
  line-height: 1.2;
  /* for mye med space-md.. margin-bottom: var(--space-md); */
  margin-bottom: var(--space-sm);
  font-weight: 500;
}

h4,
h5,
h6,
.text-lg,
.text-md {
  line-height: 1.5;
  margin-bottom: var(--space-sm);
  font-weight: 500;
}

p {
  line-height: 1.5;
  /*margin-bottom: 1rem;*/
}

small,
.small,
.text-small {
  line-height: 1.5;
}

smaller,
.text-smaller {
  line-height: 1.5;
}

/*@use './modules/_brand/dark-mode';*/
/*
   __ __   ___    ___    ___    _  __   ___ 
  / // /  / _ |  / _ )  / _ |  / |/ /  / _ |
 / _  /  / __ | / _  | / __ | /    /  / __ |
/_//_/  /_/_|_|/____/ /_/ |_|/_/|_/  /_/ |_|
  ____    ____       _      _   _   ____  
 | __ )  |  _ \     / \    | \ | | |  _ \ 
 |  _ \  | |_) |   / _ \   |  \| | | | | |
 | |_) | |  _ <   / ___ \  | |\  | | |_| |
 |____/  |_| \_\ /_/   \_\ |_| \_| |____/                                                                                                                                   
*/