/* Module: Universal Sizes (Ole) */

:root {
  --size-0: 0rem; /* 0px */
  --size-025: 0.25rem; /* 4px */
  --size-05: 0.5rem; /* 8px */
  --size-075: 0.75rem; /* 12px */
  --size-0875: 0.875rem; /* 14px */

  --size-1: 1rem; /* 16px */
  --size-1125: 1.125rem; /* 18px */
  --size-125: 1.25rem; /* 20px */
  --size-15: 1.5rem; /* 24px */
  --size-175: 1.75rem; /* 28px */
  --size-1875: 1.875rem; /* 30px */

  --size-2: 2rem; /* 32px */
  --size-225: 2.25rem; /* 36px */
  --size-25: 2.5rem; /* 40px */
  --size-275: 2.75rem; /* 44px */
  --size-2875: 2.875rem; /* 46px */

  --size-3: 3rem; /* 48px */
  --size-35: 35rem; /* 56px */
  --size-4: 4rem; /* 64px */
  --size-45: 4.5rem; /* 72px */
  --size-5: 5rem; /* 80px */
  --size-6: 6rem; /* 96px */
  --size-7: 7rem; /* 112px */
  --size-8: 8rem; /* 128px */
  --size-10: 10rem; /* 160px */
}