/* Module: Utils: screen-sizes/media queries. (Ole) */

$tablet: 768px;
$desktop: 992px;
$monitor: 1200px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin monitor {
  @media (min-width: #{$monitor}) {
    @content;
  }
}