/* Habana-brand
   __ __   ___    ___    ___    _  __   ___ 
  / // /  / _ |  / _ )  / _ |  / |/ /  / _ |
 / _  /  / __ | / _  | / __ | /    /  / __ |
/_//_/  /_/_|_|/____/ /_/ |_|/_/|_/  /_/ |_|
  ____    ____       _      _   _   ____  
 | __ )  |  _ \     / \    | \ | | |  _ \ 
 |  _ \  | |_) |   / _ \   |  \| | | | | |
 | |_) | |  _ <   / ___ \  | |\  | | |_| |
 |____/  |_| \_\ /_/   \_\ |_| \_| |____/                                                                                                                                   
*/

/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

/* ---- START -- Typografi ---- */
/* Font Family */


/* ---- END -- Typografi ---- */


/* ---- START -- Farger ---- */
/* Profil */
:root {
/* Start Custom - Egne farger utenfor system eksempel */
  --custom-color-trettenti:#0D2D66;
/* End Custom - Egne farger utenfor system eksempel */

/* Hovedfarger - Bruk Hex, eller Hex8 for alpha transparency */
  --brand-color-primary: #72CF39;
  --brand-color-secondary: #4aa0d5;
  --brand-color-tertiary: #be1e96;

  /* Testing for å lage dark og light versjoner med samme hovedfarge*/
  /* Bruk denne siden(http://color.habana.no/) for enten darken(22%) eller lighten(37%)*/
  --brand-color-primary-hover: #509725;
  --brand-color-secondary-hover: #88c1e3;

  --brand-color-primary-dark: #000;
  --brand-color-primary-light: #000;
  
  --brand-color-secondary-dark: #21648e;
  --brand-color-secondary-light: #e3f0f9;

  /* fra moava sin brand-skal slettes */
  --m-color1-hover: #67BA33;
    --m-color1-light: #EAF8E2;
    --m-color1-dark: #136E3C;

}

/* Komponenter */
:root {
  --body-background: #ffffff;
  --body-text: #000000;
}
/* ---- END -- Farger ---- */



:root {
  /* 1310 Brand */
  --m-color-trettenti:#0D2D66;
  /* Moava Brand */
  --m-color1:#72CF39;
  --m-color1-hover:#67BA33;
  --m-color1-light:#EAF8E2;
  --m-color1-dark:#136E3C;
  --m-color2:#4AA0D5;
  --m-color2-hover:#4390C0;
  --m-color2-light:#E4F1F9;
  --m-color2-dark:#31698C;
}

/* Testing */
.brand-color-primary-hoverxx {
  background-color: darken($brand-color-primary-hover, 10%)
}
.brand-color-primary-hover:hover {
  color: var(--brand-color-primary-hover);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}