@import './modules/_main/_universal-sizes';
@import './modules/_main/_utils';
@import './modules/_main/_font-sizes';
@import './modules/_main/_spacing';

/* Habana-brand
   __ __   ___    ___    ___    _  __   ___ 
  / // /  / _ |  / _ )  / _ |  / |/ /  / _ |
 / _  /  / __ | / _  | / __ | /    /  / __ |
/_//_/ _/_/ |_|/____/_/_/ |_|/_/|_/  /_/ |_|
  __  __      _      ___   _   _ 
 |  \/  |    / \    |_ _| | \ | |
 | |\/| |   / _ \    | |  |  \| |
 | |  | |  / ___ \   | |  | |\  |
 |_|  |_| /_/   \_\ |___| |_| \_|                                                                                                                                                                               
*/



/* Font Sizes (Tailwind) skal bort
.text-xs { font-size: var(--size-075); }
.text-sm { font-size: var(--size-0875); }
.text-base { font-size: var(--size-1); }
.text-lg { font-size: var(--size-1125); }
.text-xl { font-size: var(--size-125); }
.text-2xl { font-size: var(--size-15); }
.text-3xl { font-size: var(--size-1875); }
.text-4xl { font-size: var(--size-225); }
.text-5xl { font-size: var(--size-3); }
.text-6xl { font-size: var(--size-4); }
.text-7xl { font-size: var(--size-5); }
.text-8xl { font-size: var(--size-6); } */

/* Font Weights (Tailwind) */
.font-hairline { font-weight: 100; }
.font-thin { font-weight: 200; }
.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-extrabold { font-weight: 800; }
.font-black { font-weight: 900; }

/* Font Style (Tailwind) */
.italic { font-style: italic; }
.not-italic { font-style: normal; }

/* Text Alignments (Ole) */
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.tj { text-align: justify; }









/* Width - Utilities for setting the width of an element (Tailwind) */
.w-auto {
  width: auto;
}
.w-screen {
  width: 100vw;
}

/* Width - Prosent */ 
.w-full {
  width: 100%;
}
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-2\/3 {
  width: 66.666667%;
}
.w-1\/4 {
  width: 25%;
}
.w-2\/4 {
  width: 50%;
}
.w-3\/4 {
  width: 75%;
}
.w-1\/5 {
  width: 20%;
}
.w-2\/5 {
  width: 40%;
}
.w-3\/5 {
  width: 60%;
}
.w-4\/5 {
  width: 80%;
}
.w-1\/6 {
  width: 16.666667%;
}

/* Width - Pixler */
.w-0 {
  width: 0px;
}
.w-1 {
  width: 0.25rem;
}
.w-2 {
  width: 0.5rem;
}
.w-3 {
  width: 0.75rem;
}
.w-4 {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-7 {
  width: 1.75rem;
}
.w-8 {
  width: 2rem;
}
.w-9 {
  width: 2.25rem;
}
.w-10 {
  width: 2.5rem;
}
.w-11 {
  width: 2.75rem;
}
.w-12 {
  width: 3rem;
}
.w-14 {
  width: 3.5rem;
}
.w-16 {
  width: 4rem;
}
.w-20 {
  width: 5rem;
}
.w-24 {
  width: 6rem;
}
.w-28 {
  width: 7rem;
}
.w-32 {
  width: 8rem;
}
.w-36 {
  width: 9rem;
}
.w-40 {
  width: 10rem;
}
.w-44 {
  width: 11rem;
}
.w-48 {
  width: 12rem;
}

/* Height - Pixler */
.h-0 {
  height: 0px;
}
.h-1 {
  height: 0.25rem;
}
.h-2 {
  height: 0.5rem;
}
.h-3 {
  height: 0.75rem;
}
.h-4 {
  height: 1rem;
}
.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-7 {
  height: 1.75rem;
}
.h-8 {
  height: 2rem;
}
.h-9 {
  height: 2.25rem;
}
.h-10 {
  height: 2.5rem;
}
.h-11 {
  height: 2.75rem;
}
.h-12 {
  height: 3rem;
}
.h-14 {
  height: 3.5rem;
}
.h-16 {
  height: 4rem;
}
.h-20 {
  height: 5rem;
}
.h-24 {
  height: 6rem;
}
.h-28 {
  height: 7rem;
}
.h-32 {
  height: 8rem;
}
.h-36 {
  height: 9rem;
}
.h-40 {
  height: 10rem;
}
.h-44 {
  height: 11rem;
}
.h-48 {
  height: 12rem;
}


/* Max-width for image & video (Tailwind) */
img,
video {
  max-width: 100%;
  height: auto;
}

/* Use for centering Container (Tailwind) */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Screen Breakpoints Container (Tailwind)
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
*/


/* testing nedover */
.sm\:text-base {
  font-size: 7px;
}
/* @screen sm {
  ... 
}*/