/* Habana-template __ __   ___    ___    ___    _  __   ___                / // /  / _ |  / _ )  / _ |  / |/ /  / _ |               / _  /  / __ | / _  | / __ | /    /  / __ |               /_//_/_ /_/_|_|/____/_/_/ |_|/_/|_/_ /_/_|_| _____   _____   __  __   ____    _          _      _____   _____  |_   _| | ____| |  \/  | |  _ \  | |        / \    |_   _| | ____| | |   |  _|   | |\/| | | |_) | | |       / _ \     | |   |  _|   | |   | |___  | |  | | |  __/  | |___   / ___ \    | |   | |___  |_|   |_____| |_|  |_| |_|     |_____| /_/   \_\   |_|   |_____| */
/* Theme Color Palette */
:root { --m-color-transparent:transparent; --m-color-white:#ffffff; --m-color-grey:#f8f8fb; --m-color-dark:#3D3D3C; --m-color-black:#000000; --m-color-white-opacity:rgba(255, 255, 255, 0.9); --m-color-grey-border:#E5E5E5; }

/* Theme Color Styles */
:root { --m-color-white-opacity:rgba(255, 255, 255, 0.9); --m-color-grey-border:#E5E5E5; }

/* Tailwind Background Colors */
:root { --bg-transparent: transparent; }

.bg-transparent { background-color: var(--bg-transparent); }

/* tester */
.bg-black { --tw-bg-opacity: 1; background-color: rgba(0, 0, 0, var(--tw-bg-opacity)); }

.bg-white { --tw-bg-opacity: 1; background-color: rgba(255, 255, 255, var(--tw-bg-opacity)); }

.bg-opacity-40 { --tw-bg-opacity: 0.4; }
