/* Habana-brand/theme */
/* Theme Color Palette */
:root { --m-color-transparent:transparent; --m-color-white:#ffffff; --m-color-grey:#f8f8fb; --m-color-dark:#3D3D3C; --m-color-black:#000000; --m-color-white-opacity:rgba(255, 255, 255, 0.9); --m-color-grey-border:#E5E5E5; }

/* Theme Color Styles */
:root { --m-color-white-opacity:rgba(255, 255, 255, 0.9); --m-color-grey-border:#E5E5E5; }
