/* Dette er den nye og riktige versjonen. Gammel utdatert versjon som ikke lengre skal brukes ligger her:
	https://s3-eu-west-1.amazonaws.com/cdn.moava.no/stilark/kontrollpanel/felles/FA-inline-icons.css */



/* START - Sikrer at ikonene ser riktig ut
Hvis du kun skal endre et ikon, ikke endre disse variablene, men pÃ¥ selve ikonet. F.eks #menuItem2-1 */
.menuItemNew > .fa-li ::before {
	font-size: 24px;
	color: #333;
	display: block;
  	font-family: "FontAwesome";
  	font-weight: 500;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
/* END */


/* Start definering av ikoner */


/* MENU CALENDAR */
.menuCalendar .menuItemNew > .fa-li > #menuitem1-1::before {
	content: "\f0fe";
}
.menuCalendar .menuItemNew > .fa-li > #menuitem1-2::before {
	content: "\f0ca";
}
.menuCalendar .menuItemNew > .fa-li > #menuitem1-3::before {
    content: "\f07b";
}
.menuCalendar .menuItemNew > .fa-li > #menuitem2-1::before {
    content: "\f02d";
}
.menuCalendar .menuItemNew > .fa-li > #menuitem2-2::before {
    content: "\f017";
}
.menuCalendar .menuItemNew > .fa-li > #menuitem2-3::before {
	content: "\f07b";
}


/* MENU USERS */
.menuUsers .menuItemNew > .fa-li > #menuitem1-1::before {
    content: "\f0e0";
}
.menuUsers .menuItemNew > .fa-li > #menuitem1-2::before {
    content: "\f007";
}
.menuUsers .menuItemNew > .fa-li > #menuitem1-3::before {
    content: "\f0ca";
    font-size: inherit;
}


/* MENU INFOSCREEN */
/* New screen */
.menuInfoscreen .menuItemNew > .fa-li > #menuitem1-1::before {
    content: "\f0fe";
}
/* All Infoscreens */
.menuInfoscreen .menuItemNew > .fa-li > .menuitem2::before {
    content: "\f108";
}
/* New multiscreen */
.menuInfoscreen .menuItemNew > .fa-li > #menuitem3-1::before {
    content: "\f0fe";
}
/* All Multiscreens */
.menuInfoscreen .menuItemNew > .fa-li > .menuitem4::before {
    content: "\f0db";
}


/* MENU DESIGN */
.menuDesign .menuItemNew > .fa-li > #menuitem1-1::before {
	content: "\f093";
}
.menuDesign .menuItemNew > .fa-li > #menuitem1-2::before {
	content: "\f0c9";
}
.menuDesign .menuItemNew > .fa-li > #menuitem1-3::before {
	content: "\f1fc";
}
.menuDesign .menuItemNew > .fa-li > #menuitem1-4::before {
	content: "\f093";
}

.menuDesign .menuItemNew > .fa-li > #menuitem2-1::before {
	content: "\f1c9";
}
.menuDesign .menuItemNew > .fa-li > #menuitem2-2::before {
	content: "\f093";
}
.menuDesign .menuItemNew > .fa-li > #menuitem2-3::before {
	content: "\f121";
}


/* MENU ARTICLES */
.menuArticles .menuItemNew > .fa-li > #menuitem1-1::before {
	content: "\f0fe";
}
.menuArticles .menuItemNew > .fa-li > #menuitem1-2::before {
	content: "\f0ca";
}
.menuArticles .menuItemNew > .fa-li > #menuitem1-3::before {
	content: "\f15c";
}
.menuArticles .menuItemNew > .fa-li > #menuitem1-4::before {
	content: "\f1c6";
}
/* SUPERUSER LEVEL */
.menuArticles .menuItemNew > .fa-li > #menuitem0-1::before,
.menuArticles .menuItemNew > .fa-li > #menuitem0-2::before {
	content: "\f135";
	color: #42b698;
}