/* Calendar type 1 og 2 uten bg*/
.t7.article.panel.panel-default.panel-noBG.fieldarticle .calendar.call1 tbody,
.t7.article.panel.panel-default.panel-noBG.fieldarticle .calendar.call2 tbody {
    padding: 0rem;
}

/* Calendar type 1 og 2*/
.calendar.call1 tbody,
.calendar.call2 tbody {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;

  tr {

    td {
      display: block;
      border-radius: 6px;
      padding: 25px;
      box-shadow: var(--primary-box-shadow);
      text-align: left;
      border: 1px solid var(--calendar-event-border-color);
      background-color: var(--calendar-event-background);
      color: var(--calendar-event-text);

        /* START - Forskjellig farge på nth child */
        &:nth-child(even) {
            background-color: var(--calendar-event-background-secondary);
            color: var(--calendar-event-text-secondary);
      
            h3 {
              color: var(--calendar-event-heading-secondary);
            }
          }
          /* END - Forskjellig farge på nth child */

      .box0text, .box1text {
        padding: 0px !important; 
        word-wrap: break-word;
      }

      hr {
        display: none;
      }

      h3 {
        margin-bottom: var(--size-05);
        color: var(--calendar-event-heading);
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.2;
        text-align: left;
      }

      span.text-muted.small {
        font-size: 1.1em;
        font-style: normal;
        font-weight: 400;
        line-height: 23.2px;
        letter-spacing: -0.4px;
        text-align: left;
        color: var(--color-dark);
      }

      .lesmer a {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 23.2px;
        letter-spacing: -0.2px;
        color: var(--calendar-link-color);
      }

      /* calendar footer */
      .panel-footer {
        background: blue;
        text-align: center !important;
        border-top: none;

        p.text-center {
          width: 100%;
          margin: 0px;

          a {
            color: var(--calendar-link-color);
          }
        }
      }
    }
  }
}

/* END - Calendar type 1 og 2*/


/* Calendar type 5 (fra moava.css fixes) */
.call5 td div { font-size:smaller; }
/* END - Calendar type 5 (fra moava.css fixes) */

/* Rest fra moava.css fixes */
.calcell { border-bottom: 1px solid #999999; }
.calendar .box0itemHeading, .calendar .box1itemHeading { font-size:90%; }
/* END - Rest fra moava.css fixes */


/* Gjøre slik at overskrift uten bg ikke inneholder padding på sidene */
.t7.article.panel.panel-default.panel-noBG.fieldarticle .panel-heading {
  padding-left: 0px;
  padding-right: 0px;
}