/* Calendar type 1 og 2*/
.calendar.call1 tbody,
.calendar.call2 tbody {

  tr {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-content: space-around;
    gap: 1rem;

    td {
      padding: 0px;
      margin-bottom: 10px;
      background-color: chocolate;
      border-radius: 6px;
      padding: 25px;
      box-shadow: var(--primary-box-shadow);
      text-align: left;
      border: 1px solid var(--m-color-grey-border);
      background-color: var(--brand-color-primary-light);
      color: var(--brand-color-primary-dark);

        /* START - Forskjellig farge på nth child */
        &:nth-child(even) {
            background-color: var(--brand-color-secondary-light);
            color: var(--brand-color-secondary-dark);
      
            h3 {
              color: var(--brand-color-secondary-dark);
            }
          }
          /* END - Forskjellig farge på nth child */

      .box0text, .box1text {
        padding: 0px !important; 
        word-wrap: break-word;
      }

      hr {
        display: none;
      }

      h3 {
        margin-bottom: var(--size-05);
        color: var(--brand-color-primary-dark);
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.2;
        text-align: left;
      }

      span.text-muted.small {
        font-size: 1.1em;
        font-style: normal;
        font-weight: 400;
        line-height: 23.2px;
        letter-spacing: -0.4px;
        text-align: left;
        color: var(--color-dark);
      }

      .lesmer a {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 23.2px;
        letter-spacing: -0.2px;
        color: var(--color-dark);
      }

      /* calender footer */
      .panel-footer {
        background: blue;
        margin-bottom: -10px;
        text-align: center !important;

        p.text-center {
          width: 100%;

          a {
            color: yellow;
          }
        }
      }
    }
  }
}

/* Calendar type 1 og 2*/
