/* Habana Card 2021 */
/* https://zeroheight.com/404dd5267/p/640c80-card */

.hcard {
    display: grid;
    align-items: center;
    gap: var(--hcard-gap);
    background: var(--hcard-background);
    border: var(--hcard-border);
    border-radius: var(--hcard-border-radius);
}

.hcard-body {
    display: grid;
    padding: var(--hcard-body-padding);
    gap: var(--hcard-body-gap);
}

.hcard-title {
    line-height: 120%;
    margin: 0;
}

.hcard-text {
    line-height: 150%;
    margin: 0;
}

.hcard-img {
    width: 100%;
    object-fit: contain;
}

/* Brukt sammen med Link Block */
.hcard.linkBlock {
  text-decoration: none;
  background: var(--hcard-linkBlock-background);
  color: var(--hcard-linkBlock-color);
}
.hcard.linkBlock:hover {
  text-decoration: none;
  background: var(--hcard-linkBlock-background-hover);
  color: var(--hcard-linkBlock-color-hover);
}