@import "../_main/_utils";
/* Footer */

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  margin-top: 32px;
  padding-top: 32px;
  padding-bottom: 48px;

  .container {

    .row-footer {

      .col-md-12 {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}

#footerunder {
  max-width: 100%;
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  margin-top: -32px;
}

@include desktop {
  footer {
    .container {

      .row-footer {

        .col-md-12 {
          padding-right: 0px;
          padding-left: 0px;
        }
      }
    }
  }
}

#footerunderunder {
  background-color: var(--footer-background-color);
  color: var(--footer-color);
}