/* Module: Habana components */
@use '../_main/_utils';



/* Gøye komponenter som ikke er produksjonsklare enda/har formål*/
.glassBox {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 3em;
    border-radius: 3em;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
.background-image {
    background-image: url('https://habana.no/assets/habana-background.jpeg');
    background-size: 60%;
    height: 500px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}