/* Habana Link Block 2021 */
/* Div med eneste funksjon for å være klikkbar. */
/* https://zeroheight.com/404dd5267/p/508d1a-link-block */

.linkBlock {
  text-decoration: none;
}
.linkBlock:hover {
  text-decoration: none;
  cursor: pointer;
}