/* START Panels kopiert fra bootstrap.min nedover. har ikke gått gjennom ordentlig */
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: var(--panel-border-radius-md-fill);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: var(--panel-border-radius-md);
  border-top-right-radius: var(--panel-border-radius-md);

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;

  > {
    .small {
      color: inherit;

      > a {
        color: inherit;
      }
    }

    a {
      color: inherit;
    }

    small {
      color: inherit;

      > a {
        color: inherit;
      }
    }
  }
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > {
  .list-group,
  .panel-collapse > .list-group {
    margin-bottom: 0;
  }

  .list-group .list-group-item,
  .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
  }

  .list-group:first-child .list-group-item:first-child,
  .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .list-group:last-child .list-group-item:last-child,
  .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.panel-heading + .list-group .list-group-item:first-child,
.list-group + .panel-footer {
  border-top-width: 0;
}

.panel > {
  .panel-collapse > .table,
  .table,
  .table-responsive > .table {
    margin-bottom: 0;
  }

  .panel-collapse > .table caption,
  .table caption {
    padding-right: 15px;
    padding-left: 15px;
  }

  .table-responsive {
    > .table caption {
      padding-right: 15px;
      padding-left: 15px;
    }

    &:first-child > .table:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  .table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .table-responsive:first-child > .table:first-child > {
    tbody:first-child > tr:first-child,
    thead:first-child > tr:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  .table:first-child > {
    tbody:first-child > tr:first-child,
    thead:first-child > tr:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  .table-responsive:first-child > .table:first-child > {
    tbody:first-child > tr:first-child {
      td:first-child,
      th:first-child {
        border-top-left-radius: 3px;
      }
    }

    thead:first-child > tr:first-child {
      td:first-child,
      th:first-child {
        border-top-left-radius: 3px;
      }
    }
  }

  .table:first-child > {
    tbody:first-child > tr:first-child {
      td:first-child,
      th:first-child {
        border-top-left-radius: 3px;
      }
    }

    thead:first-child > tr:first-child {
      td:first-child,
      th:first-child {
        border-top-left-radius: 3px;
      }
    }
  }

  .table-responsive:first-child > .table:first-child > {
    tbody:first-child > tr:first-child {
      td:last-child,
      th:last-child {
        border-top-right-radius: 3px;
      }
    }

    thead:first-child > tr:first-child {
      td:last-child,
      th:last-child {
        border-top-right-radius: 3px;
      }
    }
  }

  .table:first-child > {
    tbody:first-child > tr:first-child {
      td:last-child,
      th:last-child {
        border-top-right-radius: 3px;
      }
    }

    thead:first-child > tr:first-child {
      td:last-child,
      th:last-child {
        border-top-right-radius: 3px;
      }
    }
  }

  .table-responsive:last-child > .table:last-child,
  .table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .table-responsive:last-child > .table:last-child > {
    tbody:last-child > tr:last-child,
    tfoot:last-child > tr:last-child {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  .table:last-child > {
    tbody:last-child > tr:last-child,
    tfoot:last-child > tr:last-child {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  .table-responsive:last-child > .table:last-child > {
    tbody:last-child > tr:last-child {
      td:first-child,
      th:first-child {
        border-bottom-left-radius: 3px;
      }
    }

    tfoot:last-child > tr:last-child {
      td:first-child,
      th:first-child {
        border-bottom-left-radius: 3px;
      }
    }
  }

  .table:last-child > {
    tbody:last-child > tr:last-child {
      td:first-child,
      th:first-child {
        border-bottom-left-radius: 3px;
      }
    }

    tfoot:last-child > tr:last-child {
      td:first-child,
      th:first-child {
        border-bottom-left-radius: 3px;
      }
    }
  }

  .table-responsive:last-child > .table:last-child > {
    tbody:last-child > tr:last-child {
      td:last-child,
      th:last-child {
        border-bottom-right-radius: 3px;
      }
    }

    tfoot:last-child > tr:last-child {
      td:last-child,
      th:last-child {
        border-bottom-right-radius: 3px;
      }
    }
  }

  .table:last-child > {
    tbody:last-child > tr:last-child {
      td:last-child,
      th:last-child {
        border-bottom-right-radius: 3px;
      }
    }

    tfoot:last-child > tr:last-child {
      td:last-child,
      th:last-child {
        border-bottom-right-radius: 3px;
      }
    }
  }

  .panel-body + {
    .table,
    .table-responsive {
      border-top: 1px solid #ddd;
    }
  }

  .table + .panel-body,
  .table-responsive + .panel-body {
    border-top: 1px solid #ddd;
  }

  .table > tbody:first-child > tr:first-child {
    td,
    th {
      border-top: 0;
    }
  }

  .table-bordered,
  .table-responsive > .table-bordered {
    border: 0;
  }
}

.panel > {
  .table-bordered > {
    tbody > tr:first-child > {
      td,
      th {
        border-bottom: 0;
      }
    }

    thead > tr:first-child > {
      td,
      th {
        border-bottom: 0;
      }
    }
  }

  .table-responsive > .table-bordered > {
    tbody > tr:first-child > {
      td,
      th {
        border-bottom: 0;
      }
    }

    thead > tr:first-child > {
      td,
      th {
        border-bottom: 0;
      }
    }
  }

  .table-bordered > {
    tbody > tr:last-child > {
      td,
      th {
        border-bottom: 0;
      }
    }

    tfoot > tr:last-child > {
      td,
      th {
        border-bottom: 0;
      }
    }
  }

  .table-responsive > .table-bordered > {
    tbody > tr:last-child > {
      td,
      th {
        border-bottom: 0;
      }
    }

    tfoot > tr:last-child > {
      td,
      th {
        border-bottom: 0;
      }
    }
  }
}

.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}

.panel-group {
  margin-bottom: 20px;

  .panel {
    margin-bottom: 0;
    border-radius: 4px;

    + .panel {
      margin-top: 5px;
    }
  }

  .panel-heading {
    border-bottom: 0;

    + .panel-collapse > {
      .list-group,
      .panel-body {
        border-top: 1px solid #ddd;
      }
    }
  }

  .panel-footer {
    border-top: 0;

    + .panel-collapse .panel-body {
      border-bottom: 1px solid #ddd;
    }
  }
}

/* renvasket, men riktig med rekkefølge? */
.panel-default {
  border-color: #ddd;

  > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
  }
}
/**/

.panel-default > {
  .panel-heading {
    + .panel-collapse > .panel-body {
      border-top-color: #ddd;
    }

    .badge {
      color: #f5f5f5;
      background-color: #333;
    }
  }

  .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
  }
}

.panel-primary {
  border-color: #337ab7;

  > {
    .panel-heading {
      color: #fff;
      background-color: #337ab7;
      border-color: #337ab7;

      + .panel-collapse > .panel-body {
        border-top-color: #337ab7;
      }

      .badge {
        color: #337ab7;
        background-color: #fff;
      }
    }

    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #337ab7;
    }
  }
}

.panel-success {
  border-color: #d6e9c6;

  > {
    .panel-heading {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;

      + .panel-collapse > .panel-body {
        border-top-color: #d6e9c6;
      }

      .badge {
        color: #dff0d8;
        background-color: #3c763d;
      }
    }

    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #d6e9c6;
    }
  }
}

.panel-info {
  border-color: #bce8f1;

  > {
    .panel-heading {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;

      + .panel-collapse > .panel-body {
        border-top-color: #bce8f1;
      }

      .badge {
        color: #d9edf7;
        background-color: #31708f;
      }
    }

    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #bce8f1;
    }
  }
}

.panel-warning {
  border-color: #faebcc;

  > {
    .panel-heading {
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;

      + .panel-collapse > .panel-body {
        border-top-color: #faebcc;
      }

      .badge {
        color: #fcf8e3;
        background-color: #8a6d3b;
      }
    }

    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #faebcc;
    }
  }
}

.panel-danger {
  border-color: #ebccd1;

  > {
    .panel-heading {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;

      + .panel-collapse > .panel-body {
        border-top-color: #ebccd1;
      }

      .badge {
        color: #f2dede;
        background-color: #a94442;
      }
    }

    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #ebccd1;
    }
  }
}

/* END Panels kopiert fra bootstrap... */
