/* Buttons for 2021 */

.button, .button--primary, .button--warning, input[type=submit], .button--secondary, input[type=button] {
    font-family: inherit;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid;
}

.button--primary, input[type="submit"]{
    color: white;
    background: #2276FC;
    border-color: #2276FC;
    /* playing safe (some inline exists) */
    background-color: #2276FC !important;
    &:hover {
        color: white;
        background: #1E61CD;
        border-color: #1E61CD;
        /* playing safe (some inline exists) */
        background-color: #1E61CD !important;
    }
    &:active {
        color: white;
        background: #17396F;
        border-color:#17396F;
        /* playing safe (some inline exists) */
        background-color: #17396F !important;
    }
}

.button--secondary, input[type="button"], .button {
    color: #565D67;
    background: white;
    border-color: #CED2D9;
    /* playing safe (some inline exists) */
    background-color: white !important;
    &:hover {
        color: white;
        background: #6E7683;
        border-color: #6E7683;
        /* playing safe (some inline exists) */
        background-color: #6E7683 !important;
    }
    &:active {
        color: white;
        background: #3F434A;
        border-color: #3F434A;
        /* playing safe (some inline exists) */
        background-color: var(--gray-darkest) !important;
    }
}

.button--warning {
    color: var(--red);
    background: white;
    border-color: var(--red);
    /* playing safe (some inline exists) */
    background-color: white !important;
    &:hover {
        color: white;
        background: var(--red-dark);
        border-color: var(--red-dark);
        /* playing safe (some inline exists) */
        background-color: var(--red-dark) !important;
    }
    &:active {
        color: white;
        background:  var(--red-darker);
        border-color: var(--red-darker);
        /* playing safe (some inline exists) */
        background-color: var(--red-darker) !important;
    }
}

input[type=file] {
    font-size: 16px;
}

/* Må skrives sammen og etter en av de andre klassene */
.button--large {
    padding: 6px 12px;
}