/* Dette er den nye og riktige versjonen. Gammel utdatert versjon som ikke lengre skal brukes ligger her:
	https://s3-eu-west-1.amazonaws.com/cdn.moava.no/stilark/kontrollpanel/felles/FA-inline-icons.css */



/* START - Sikrer at ikonene ser riktig ut
Hvis du kun skal endre et ikon, ikke endre disse variablene, men pÃ¥ selve ikonet. F.eks #menuItem2-1 */
.menuItemNew > .fa-li ::before {
	font-size: 24px;
	color: #333;
	display: block;
  	font-family: "FontAwesome";
  	font-weight: 500;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
/* END */


/* Start definering av ikoner */


/* MENU KALENDER */
.menuCalendar .menuItemNew > .fa-li > #menuitem1-1::before {
	content: "\f0fe";
}
.menuCalendar .menuItemNew > .fa-li > #menuitem1-2::before {
	content: "\f0ca";
}
.menuCalendar .menuItemNew > .fa-li > #menuitem1-3::before {
    content: "\f111";
	font-size: 8px;
}
.menuCalendar .menuItemNew > .fa-li > #menuitem2-1::before {
    content: "\f111";
	font-size: 8px;
}
.menuCalendar .menuItemNew > .fa-li > #menuitem2-2::before {
    content: "\f111";
	font-size: 8px;
}
.menuCalendar .menuItemNew > .fa-li > #menuitem2-3::before {
	content: "\f111";
	font-size: 8px;
}


/* MENU USERS */
.menuUsers .menuItemNew > .fa-li > #menuitem1-1::before {
    content: "\f0e0";
}
.menuUsers .menuItemNew > .fa-li > #menuitem1-2::before {
    content: "\f007";
}
.menuUsers .menuItemNew > .fa-li > #menuitem1-3::before {
    content: "\f0ca";
    font-size: inherit;
}


/* MENU INFOSCREEN */
/* New screen */
.menuInfoscreen .menuItemNew > .fa-li > #menuitem1-1::before {
    content: "\f0fe";
}
/* All Infoscreens */
.menuInfoscreen .menuItemNew > .fa-li > .menuitem2::before {
    content: "\f108";
}
/* New multiscreen */
.menuInfoscreen .menuItemNew > .fa-li > #menuitem3-1::before {
    content: "\f0fe";
}
/* All Multiscreens */
.menuInfoscreen .menuItemNew > .fa-li > .menuitem4::before {
    content: "\f0db";
}