/* Admin variables */

/* Admin colors */
:root {
    /* Hovedfarger */
    --brand-color-primary: #72cf39;
    --brand-color-secondary: #4aa0d5;
  
    --brand-color-primary-hover: #509725;
    --brand-color-primary-dark: #346218;
    --brand-color-primary-light: #e7f7dd;
  
    --brand-color-secondary-hover: #88c1e3;
    --brand-color-secondary-dark: #21648e;
    --brand-color-secondary-light: #e3f0f9;
}
/* Admin colors */
:root {
    /* Hovedfarger */
    --black: black;
    --white: white;

    --red: #F03E2F;
    --red-dark: #B61A0D;
    --red-darker: #8B140A;

    --blue: #2276FC;
    --blue-dark: #1E61CD;
    --blue-darker: #17396F;

    --gray-light: #F2F3F5;
    --gray: #E6E8EC;
    --gray-dark: #CED2D9;
    --gray-darker: #6E7683;
    --gray-darkest: #3F434A;
}

:root {
    /* Accordion (currently inbox) */
    --accordion-primary-text-color: var(--brand-color-primary-hover);
    --accordion-primary-text-color-hover: var(--brand-color-primary-dark);
    --accordion-primary-background-color: var(--brand-color-primary-light);
}
