/* Admin variables */

/* Admin colors */
:root {
    /* Hovedfarger */
    --brand-color-primary: #72cf39;
    --brand-color-secondary: #4aa0d5;
  
    --brand-color-primary-hover: #509725;
    --brand-color-primary-dark: #346218;
    --brand-color-primary-light: #e7f7dd;
  
    --brand-color-secondary-hover: #88c1e3;
    --brand-color-secondary-dark: #21648e;
    --brand-color-secondary-light: #e3f0f9;
}

:root {
    /* Accordion (currently inbox) */
    --accordion-primary-text-color: var(--brand-color-primary-hover);
    --accordion-primary-text-color-hover: var(--brand-color-primary-dark);
    --accordion-primary-background-color: var(--brand-color-primary-light);
}