/* Utility classes for Habana */
/* THIS FILE SHOULD ALWAYS BE MINIFIED */
/* important - Unopinionated - important */
/* Should integrate files from /main inside this file */

/* Columns */
.col2 {
    grid-template-columns: 1fr 1fr;
}
.col3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.col4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Rows */
.row2 {
    grid-template-rows: 1fr 1fr;
}
.row3 {
    grid-template-rows: 1fr 1fr 1fr;
}
.row4 {
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* Columns with fractions */
/* 1 */
.col--1-1 {
    grid-template-columns: 1fr 1fr;
}
.col--1-2 {
    grid-template-columns: 1fr 2fr;
}
.col--1-3 {
    grid-template-columns: 1fr 3fr;
}
.col--1-4 {
    grid-template-columns: 1fr 4fr;
}
/* 2 */
.col--2-1 {
    grid-template-columns: 2fr 1fr;
}
.col--2-2 {
    grid-template-columns: 2fr 2fr;
}
.col--2-3 {
    grid-template-columns: 2fr 3fr;
}
.col--2-4 {
    grid-template-columns: 2fr 4fr;
}
/* 3 */
.col--3-1 {
    grid-template-columns: 3fr 1fr;
}
.col--3-2 {
    grid-template-columns: 3fr 2fr;
}
.col--3-3 {
    grid-template-columns: 3fr 3fr;
}
.col--3-4 {
    grid-template-columns: 3fr 4fr;
}
/* 4 */
.col--4-1 {
    grid-template-columns: 4fr 1fr;
}
.col--4-2 {
    grid-template-columns: 4fr 2fr;
}
.col--4-3 {
    grid-template-columns: 4fr 3fr;
}
.col--4-4 {
    grid-template-columns: 4fr 4fr;
}