/* -- START -- Modalvindu 2020 -> */

/* Mobile and Responsive */
@media (max-width: 768px) {
	.m-modal-body {
		display: grid;
	    grid-row-gap: 8px;
		grid-template-columns: 1fr;
	}
	.m-modal-content {
	    padding: 25px;
	    width: 95%;
	}
}

.m-modal {
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	display: none;
	
}

/* Modal Content */
.m-modal-content {
    background: #F8F9FB;
    margin: auto;
    padding: 40px;
    width: 80%;
	border: 1px solid #888;
	border-radius: var(--main-border-radius);
	box-shadow: var(--main-box-shadow);
	
}

/* The actual body */
.m-modal-body {
	display: grid;
    grid-row-gap: 12px;
	grid-column-gap: 12px;
	grid-template-columns: auto;
}

.m-modal-body > div {
	margin: 0px !important;
}

/* The Close Button */
.m-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: -40px;
    position: relative;
    left: -40px;
}
.m-modal-close:hover,
.m-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.m-modal-close span.fa-li::before {
    content: "\f00d";
}
/* -- END -- Modalvindu 2020 -> */

/* -- START -- Unsplash and image search inside new 2020/2021 modalvindu -> */
.unsplashImgContainer {
    border: 2px solid #FFFFFF;
    float: left;
    height: 108px;
    width: 192px;
    margin: 1px;
}
.unsplashAttribution {
    text-align: center;
    height: 20px;
    overflow: hidden;
    font-size: 10px;
    font-style: italic;
    position: relative;
    top: 85px;
}
/* -- END -- Unsplash and image search inside new 2020/2021 modalvindu -> */