/* Module: Buttons */
/* Based on admin and moava.no buttons */

/* Common */
.button--primary, 
.button--secondary {
  font-family: inherit;
  cursor: pointer;
  padding: 6px 14px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  align-items: flex-start;
  text-align: center;
  font-style: normal;
  line-height: 24px;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.button--primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background-color);
  border: var(--button-primary-border);
} 
.button--secondary {
  color: var(--button-secondary-color);
  background-color: var(--button-secondary-background-color);
  border: var(--button-secondary-border);
}

/* Primary - states: hover, active, focus */
.button--primary:hover, 
.button--primary:active,
.button--primary:focus {
  color: var(--button-primary-color-hover);
  border: var(--button-primary-border-hover);
  background-color: var(--button-primary-background-color-hover);
  text-decoration: none;
  top: -1px;
}
/* Secondary - states: hover, active, focus */
.button--secondary:hover,
.button--secondary:active,
.button--secondary:focus {
  color: var(--button-secondary-color-hover);
  border: var(--button-secondary-border-hover);
  background-color: var(--button-secondary-background-color-hover);
  text-decoration: none;
  top: -1px;
}

/* Link */
.button--link{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--button-link-color);
  text-decoration: none;
}
/* Link - states: hover, active, focus */
.button--link:hover {
  font-style: normal;
  line-height: 24px;
  color: var(--button-link-color-hover);
  text-decoration: underline;
}

/* Variants */
.button--fw {
  width: 100%;
  display: block;
}
/* Sizes */
.button--small {
  padding: 4px 8px;
  font-size: calc(100% - 1px);
}
.button--large {
  padding: 10px 18px;
  font-size: calc(100% + 1px);
}