/* SKAL LETT KUNNE OVERSTYRES AV BRAND. DETTE ER VARIABLER SOM SKAL KUNNE STYRES FOR Å DESIGNE(F.eks ved valg om harde eller runde hjørner)*/
body {
  background-color: var(--color-white);
  color: var(--color-dark);
}

/* GENERAL SIZES */
:root {
  // Border & Border-radius
  /* Border Radius (small, medium & large) -fill gjelder for å dekke hullet som blir igjen når man legger på border utenfor */
  --border: 1px solid;
  --size-border-radius-sm: 4px;
  --size-border-radius-sm-fill: calc(var(--panel-border-radius-sm) + 1px);
  --size-border-radius-md: 6px;
  --size-border-radius-md-fill: calc(var(--panel-border-radius-md) + 1px);
  --size-border-radius-lg: 8px;
  --size-border-radius-lg-fill: calc(var(--panel-border-radius-lg) + 1px);
  --size-border-radius-xl: 12px;
  --size-border-radius-xl-fill: calc(var(--panel-border-radius-xl) + 1px);
  // Box Shadows( ikke ferdig )
  --box-shadow-light: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-lighter: 0px 4px 8px rgba(0, 0, 0, 0.03);
  --box-shadow-lightest: 0px 2px 4px rgba(161, 161, 161, 0.05);
}

/* GENERAL COLORS */
:root {
  // Link colors
  --link-color: var(--brand-color-primary);
  --link-color-hover: var(--brand-color-primary-hover);
  // Text colors
  --text-dark: var(--color-gray-dark);
}

/* Navbar og topplogo */
:root {
  /* Navbar align menypunktene */
  --navbar-align-center: center;
  /* Headermain bilde */
  --headermain-border-radius: 0;
  --headermain-border-radius-bpmonitor: var(--size-border-radius-lg);
  /* Navbar items */
  --navbar-link-color: #333;
  --navbar-link-color-hover: #333;
  --navbar-link-color-active: #555;
  --navbar-link-color-open: #555;
  /* Navbar mobile */
  --navbar-brand-color: #777;
  --navbar-brand-color-hover: #5e5e5e;
}

/* Panels */
:root {
  /* Panel Border Radius system */
  --panel-border-radius-sm: var(--size-border-radius-sm);
  --panel-border-radius-sm-fill: var(--size-border-radius-sm-fill);
  --panel-border-radius-md: var(--size-border-radius-md);
  --panel-border-radius-md-fill: var(--size-border-radius-md-fill);
  --panel-border-radius-lg: var(--size-border-radius-lg);
  --panel-border-radius-lg-fill: var(--size-border-radius-lg-fill);
  --panel-border: var(--border);
  --panel-box-shadow: var(--box-shadow-md);
  /* Panel colors */
  --panel-border-color: var(--color-gray-light);
  --panel-background-color: rgba(255, 255, 255, 0.9);
  --panelfooter-background-color: var(--color-gray-lightest);
  --panelheading-color: #333;
  --panelheading-background-color: var(--color-gray-lightest);
}

/* END - Panels */

/* Calendar */
:root {
  // Calendar colors
  --calendar-event-background: var(--brand-color-primary-light);
  --calendar-event-border-color: var(--color-gray-lightest);
  --calendar-event-heading: var(--brand-color-primary-dark);
  --calendar-event-text: var(--brand-color-primary-dark);
  --calendar-event-background-secondary: var(--brand-color-secondary-light);
  --calendar-event-heading-secondary: var(--brand-color-secondary-dark);
  --calendar-event-text-secondary: var(--brand-color-secondary-dark);
  --calendar-link-color: var(--link-color);
}

/* END - Calendar */


/* Dropdowns */
:root {
  /* Dropdown */
  --dropdown-background-color: var(--color-white);
  --dropdown-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  --dropdown-border-radius: var(--size-border-radius-lg);
  /* Item */
  --dropdown-item-border-radius: var(--size-border-radius-md);
  --dropdown-item-text: #333333;
  /* Item hover */
  --dropdown-item-text-hover: #262626;
  --dropdown-item-background-color-hover: var(--color-gray-lightest);

  /* Item Active */
  --dropdown-item-text-active: var(--color-white);
  --dropdown-item-background-color-active: #0A63D6;
}

/* END - Dropdowns */


/* Newsfield */
:root {
  // Newsfield box
  --newsfield-background-color: var(--color-gray-lightest);
  --newsfield-box-background-color: var(--color-white);
  --newsfield-box-border: var(--border) var(--color-gray-lighter);
  --newsfield-box-border-radius: var(--size-border-radius-lg);
  --newsfield-box-shadow: var(--box-shadow-lighter);
}

/* END - Newsfield */


/* Breadcrumb */
:root {
  --breadcrumb-background-color: var(--color-gray-lightest);
  --breadcrumb-border-radius: var(--size-border-radius-lg);
}

/* END - Breadcrumb */


/* Footer */
:root {
  --footer-background-color: #efefef;
  --footer-color: inherit;
}
/* END - Footer */


/* Temafiler */




/* Habana komponenter */
/* Habana Card */
:root {
  --hcard-background: white;
  --hcard-gap: 4px;
  --hcard-border: 1px solid green;
  --hcard-border-radius: 4px;
  /* body */
  --hcard-body-gap: 6px;
  --hcard-body-padding: 24px 36px;
  /* Lite kort*/
  --hcard-body--small-gap: 3px;
  --hcard-body--small-padding: 12px 18px;
  /* hcard Link Block */
  --hcard-linkBlock-background: var(--brand-color-primary-light);
  --hcard-linkBlock-background-hover: var(--brand-color-primary-hover);
  --hcard-linkBlock-color: var(--brand-color-primary-dark);
  --hcard-linkBlock-color-hover: var(--brand-color-primary-light);
}
/* END - Habana Card */