/* Habana-brand
   __ __   ___    ___    ___    _  __   ___ 
  / // /  / _ |  / _ )  / _ |  / |/ /  / _ |
 / _  /  / __ | / _  | / __ | /    /  / __ |
/_//_/  /_/_|_|/____/ /_/ |_|/_/|_/  /_/ |_|
  ____    ____       _      _   _   ____  
 | __ )  |  _ \     / \    | \ | | |  _ \ 
 |  _ \  | |_) |   / _ \   |  \| | | | | |
 | |_) | |  _ <   / ___ \  | |\  | | |_| |
 |____/  |_| \_\ /_/   \_\ |_| \_| |____/                                                                                                                                   
*/


/* Brand Colors */
:root {
  /* 1310 Brand */
  --m-color-trettenti:#0D2D66;
  /* Moava Brand */
  --m-color1:#72CF39;
  --m-color1-hover:#67BA33;
  --m-color1-light:#EAF8E2;
  --m-color1-dark:#136E3C;
  --m-color2:#4AA0D5;
  --m-color2-hover:#4390C0;
  --m-color2-light:#E4F1F9;
  --m-color2-dark:#31698C;
}