/* Module: Colors-Brand */

/* Profil/brand/merkevare/kommunehåndbok/bedrift */
:root {
  /* Start Custom - Egne farger utenfor system eksempel */
  --custom-brand-color-trettenti: #0d2d66;
  /* End Custom - Egne farger utenfor system eksempel */

  /* Hovedfarger - Bruk Hex, eller Hex8 for alpha transparency */
  --brand-color-primary: #72cf39;
  --brand-color-secondary: #4aa0d5;
  --brand-color-tertiary: #ff7315;

  /* Utangspunkt i hovedfargerne. Bruk denne siden(http://color.habana.no/) for enten hover(15%), darken(22%, 28%) eller lighten(37%, 40%)*/
  --brand-color-primary-hover: #509725;
  --brand-color-primary-dark: #346218;
  --brand-color-primary-light: #e7f7dd;

  --brand-color-secondary-hover: #88c1e3;
  --brand-color-secondary-dark: #21648e;
  --brand-color-secondary-light: #e3f0f9;

  --brand-color-tertiary-hover: #ffa161;
  --brand-color-tertiary-dark: #d75600;
  --brand-color-tertiary-light: #ffdec7;
}

:root {
  /* Hovedbrytere for farger på knapper og knappetekst*/
  /* Button Primary Color */
  --button-primary-color: var(--brand-color-primary);
  --button-primary-color-dark: var(--brand-color-primary-dark);
  --button-primary-color-light: var(--brand-color-primary-light);
  /* Hover */
  --button-primary-color-hover: var(--brand-color-primary-light);
  /* Text & hover */
  --button-primary-color-text: var(--color-black);
  --button-primary-color-text-hover: var(--brand-color-primary-dark);

  /* Button Secondary Color */
  --button-secondary-color: var(--brand-color-secondary);
  --button-secondary-color-dark: var(--brand-color-secondary-dark);
  --button-secondary-color-light: var(--brand-color-secondary-light);
  /* Hover */
  --button-secondary-color-hover: var(--brand-color-secondary-light);
  /* Text & hover */
  --button-secondary-color-text: var(--color-black);
  --button-secondary-color-text-hover: var(--brand-color-secondary-dark);



}