/* Module: Colors */

/* Unntak er body. Plasseres her fordi at det kun er farger. */
body {
  background-color: var(--color-white);
  color: var(--color-dark);
}

/* start - ferdig  */
:root {
  // Link colors
  --link-color: var(--brand-color-secondary);
  --link-color-hover: var(--brand-color-primary);

  // Text colors
  --text-dark: var(--color-dark);

}
/* end - ferdig  */


/* Komponenter */

/* Hente farger fra universal colors (?)-komprimert fil */
:root {
  // Border colors
  --border-white: var(color-white);
  --border-gray: var(color-white);
  --border-gray-light: var(color-white);
  --border-gray-dark: var(color-white);
  --border-gray-darker: var(color-white);
  --border-dark: var(--color-white);
  --border-black: var(--color-black);
  --border-primary: var(--brand-color-primary);

  // Background colors
  --bg-white: var(color-white);
  --border-gray: var(color-white);
  --border-gray-light: var(color-white);
  --border-gray-dark: var(color-white);
  --border-gray-darker: var(color-white);
  --border-dark: var(color-white);


}

/* tester Sass variabler i map og funksjoner */
$colors: (
  primary: red,
  white: var(--color-white),
  black: var(--color-black),
);
/* Funksjon som gjør at man kan skrive color(white) fremfor map-get($colors, white). */
@function color($color-name) {
  @return map-get($colors, $color-name)
}

body {
  background-color: color(white);
  color: color(black);

  background-color: var(--minsystemfarge) !important;
}
