/* Dark mode */
/* BETA BETA BETA */
/* Må bruke variabler etterhvert. */

/* Alle Dark-mode fargene starter med --dark- */
:root {
    --dark-color-white: var(--color-white) !important;
    --dark-color-white-opacity: rgba(255, 255, 255, .8) !important;

    --dark-color-dark: #606368 !important;
    --dark-color-darker: #3C4042 !important;
    --dark-color-darkest: #202123 !important;
}



@media screen and (prefers-color-scheme: dark) {
  /* Generelt */
  body {
    background-color: var(--dark-color-darkest) !important;
    color: var(--dark-color-white-opacity);
  }

  /* Panels */
  .panel-default > .panel-heading {
    color: var(--dark-color-white);
    background-color: var(--dark-color-dark);
    /* ??? border-color: var(--panel-border-color) !important; */
  }

  /* Tables */
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: var(--dark-color-dark);
  }
}
