/* Module: Typography.. */

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  background-color: var(--body-background);
  color: var(--body-text);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}


/* Font Headings */
h1, h2, h3 {
  line-height: 1.2;
  font-weight: 600;
}
h4, h5, h6 {
  line-height: 1.5;
  font-weight: 600;
}
.text-6xl, .text-5xl, .text-4xl, .text-3xl, .text-2xl, .text-xl, .text-lg, .text-md {
  line-height: 1.5;
}

.text-6xl {
  font-size: var(--size-45);
}
.text-5xl {
  font-size: var(--size-4);
}
.text-4xl {
  font-size: var(--size-35);
}

h1, .text-3xl {
  font-size: var(--size-3);
}
h2, .text-2xl {
  font-size: var(--size-25);
}
h3, .text-xl {
  font-size: var(--size-2);
}
h4, .text-lg {
  font-size: var(--size-15);
}
h5 {
  font-size: var(--size-125);
}
h6, .text-md {
  font-size: var(--size-1);
}

.text-small {
  font-size: var(--size-0875);
  line-height: 1.5;
}
.text-smaller {
  font-size: var(--size-075);
  line-height: 1.5;
}

p {
  font-size: var(--size-1);
  line-height: 1.5;
  /*margin-bottom: var(--size-1);*/
}

a {
  color: var(--link-color);
    &:hover {
      color: var(--link-color-hover);
    }
}