/* Module: Typography */
@import "../_main/_utils";

/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

/*html {font-size: 100%;} /*16px*/

/*
@include tablet {
  html {font-size: 112.5%;} /*16px*/
/*}*/

body {
  /* background-color og color ligger under _color-system */
  /* Font Family (har tidligere ligget i bootstrap-min.css) og styleallcustom*/
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}


/* Font Headings */
.text-6xl {
  font-size: var(--size-4);
}
.text-5xl {
  font-size: var(--size-35);
}
.text-4xl {
  font-size: var(--size-3);
}



h1, .h1 .text-3xl {
  font-size: 1.802rem; /* 40px */
}
h2, .h2 .text-2xl {
  font-size: 1.602rem; /* 32px */
}
h3, .h3 .text-xl {
  font-size: 1.424rem; /* 28px */
}
h4, .h4 .text-lg {
  font-size: 1.266rem; /* 24px */
}
h5, .h5 {
  font-size: 1.125rem; /* 20px */
}
h6, .h6 .text-md {
  font-size: var(--size-1); /* 16px */
}

p {
  font-size: var(--size-1);
}

small, .small, .text-small {
  font-size: 0.889rem;
}
smaller, .text-smaller {
  font-size: var(--size-075);
}


a {
  color: var(--link-color);
  background-color: transparent;
  text-decoration: none;

    &:link {
      color: var(--link-color);
    }
    &:hover {
      color: var(--link-color-hover);
      text-decoration: underline;
      outline: 0;
    }
    &:focus {
      color: var(--link-color-hover);
      text-decoration: underline;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    &:active {
      color: var(--link-color-hover);
      outline: 0;
    }
    &:visited {
      color: var(--link-color-hover);
    }
}


/*Definert for komponenter*/
.panel-heading h2 {
    font-size: 1.25em;
    margin: 3px 0 0 0;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
h3.box1itemHeading {
  word-wrap: break-word;
}
.box1text {
  padding: 0px;
  top: 0px;
}

/* Titles (fra webpages) */
h1 { font-size: 2em; }
#pagename { margin-top: 0px; }
h2 { font-size: 1.25em; }

h3 { font-size: 1.15em; }
/* -- END -- Titles (fra webpages) */