/* Module: Universal Colors / Fargebank */

/* Alle fargene som kan brukes direkte fra CSS variabler */

:root {
  // All colors
  --color-white: #ffffff;
  --color-gray: #;
  --color-gray-light: #;
  --color-gray-dark: #;
  --color-gray-darker: #;
  --color-dark: #333333;
  --color-black: #000000;
/* her kommer flere farger til fargebanken. Ingen farger skal brukes utenom det som ligger her*/
}
