/* SKAL LETT KUNNE OVERSTYRES AV BRAND. DETTE ER VARIABLER SOM SKAL KUNNE STYRES FOR Å DESIGNE(F.eks ved valg om harde eller runde hjørner)*/
body {
  background-color: var(--color-white);
  color: var(--color-dark);
}

/* GENERAL SIZES */
:root {
  // Border & Border-radius
  /* Border Radius (small, medium & large) -fill gjelder for å dekke hullet som blir igjen når man legger på border utenfor */
  --border: 1px solid;
  --size-border-radius-sm: 4px;
  --size-border-radius-sm-fill: calc(var(--panel-border-radius-sm) + 1px);
  --size-border-radius-md: 6px;
  --size-border-radius-md-fill: calc(var(--panel-border-radius-md) + 1px);
  --size-border-radius-lg: 8px;
  --size-border-radius-lg-fill: calc(var(--panel-border-radius-lg) + 1px);
  --size-border-radius-xl: 12px;
  --size-border-radius-xl-fill: calc(var(--panel-border-radius-xl) + 1px);
  // Box Shadows( ikke ferdig )
  --box-shadow-sm: red;
  --box-shadow-md: red;
  --box-shadow-lg: red;
}

/* GENERAL COLORS */
:root {
  // Link colors
  --link-color: var(--brand-color-primary);
  --link-color-hover: var(--brand-color-primary-hover);
  // Text colors
  --text-dark: var(--color-dark);
}

/* Navbar og topplogo */
:root {
  // Navbar align menypunktene
--navbar-align-center: center;
  // Headermain bilde
--headermain-border-radius: 0;
--headermain-border-radius-bpmonitor: var(--size-border-radius-lg);
}

/* Panels */
:root {
  // Panel Border Radius system
  --panel-border-radius-sm: var(--size-border-radius-sm);
  --panel-border-radius-sm-fill: var(--size-border-radius-sm-fill);
  --panel-border-radius-md: var(--size-border-radius-md);
  --panel-border-radius-md-fill: var(--size-border-radius-md-fill);
  --panel-border-radius-lg: var(--size-border-radius-lg);
  --panel-border-radius-lg-fill: var(--size-border-radius-lg-fill);
  --panel-border: var(--border);
  --panel-box-shadow: var(--box-shadow-md);
  // Panel colors
  --panel-border-color: #dddddd;
  --panel-background-color: rgba(255, 255, 255, 0.9);
  --panelfooter-background-color: #f5f5f5;
  --panelheading-color: #333;
  --panelheading-background-color: #f5f5f5;
}

/* END - Panels */

/* Calendar */
:root {
  // Calendar colors
  --calendar-event-background: var(--brand-color-primary-light);
  --calendar-event-heading: var(--brand-color-primary-dark);
  --calendar-event-text: var(--brand-color-primary-dark);
  --calendar-event-background-secondary: var(--brand-color-secondary-light);
  --calendar-event-heading-secondary: var(--brand-color-secondary-dark);
  --calendar-event-text-secondary: var(--brand-secondary-primary-dark);
  --calendar-link-color: var(--link-color);
}

/* END - Calendar */


/* Dropdowns */
:root {
  // Dropdown
  --dropdown-background-color: #fff;
  --dropdown-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  --dropdown-border-radius: var(--size-border-radius-lg);
  // Item
  --dropdown-item-border-radius: var(--size-border-radius-md);
  --dropdown-item-text: #333333;
  // Item hover
  --dropdown-item-text-hover: #262626;
  --dropdown-item-background-color-hover: #f5f5f5;
 // Item Active
  --dropdown-item-text-active: #fff;
  --dropdown-item-background-color-active: #0A63D6;
}

/* END - Dropdowns */
