/* Buttons for 2021 */
/* Ikke i bruk enda - ment for første gang til 1310.*/

.button {
    font-family: 'Inter';
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
}



.button--primary {
    
    &:hover {

    }
}


.button--secondary {
    color: #565D67;
    background: white;
    border: 1px solid #565D67;
    &:hover {
        color: white;
        background: #6E7683;
        border: 1px solid #6E7683;
    }
    &:active {
        color: white;
        background: #3F434A;
        border: 1px solid #3F434A;
    }
}