/* Buttons for 2021 */
/* Ikke i bruk enda - ment for første gang til 1310.*/

.button {
    font-family: 'Inter';
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
}



.button--primary, input[type="submit"]{
    color: white;
    background: #2276FC;
    border: 1px solid #2276FC;
    &:hover {
        color: white;
        background: #1E61CD;
        border: 1px solid #1E61CD;
    }
    &:active {
        color: white;
        background: #17396F;
        border: 1px solid #17396F;
    }
}


.button--secondary, input[type="button"], .button  {
    color: #565D67;
    background: white;
    border: 1px solid #CED2D9;
    &:hover {
        color: white;
        background: #6E7683;
        border: 1px solid #6E7683;
    }
    &:active {
        color: white;
        background: #3F434A;
        border: 1px solid #3F434A;
    }
}