/* Users - profile - inbox */


/* Overstyre bootstrap */

#moavaListMessageArchive .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px !important;
}

/* Overstyre bootstrap */

#moavaListMessageArchive .inboxMessage {
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    text-align: left;
}

/* Overstyre bootstrap */

#moavaListMessageArchive .inboxMessage p {
    margin: 0;
}

/* Overstyre bootstrap */

#moavaListMessageArchive tbody .inboxArchive {
    padding: 0px !important;
    border-top: 0px !important;
}

/* Overstyre bootstrap */

#moavaListMessageArchive tbody .inboxArchive .panel {
    background: transparent;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
}

/* Overstyre bootstrap */

#moavaListMessageArchive tbody .inboxArchive .panel-body {
    padding: 0px;
}

/* Overstyre bootstrap */

#moavaListMessageArchive tbody .inboxArchive .col-xs-12 {
    padding-right: 0px;
    padding-left: 0px;
}

#moavaListMessageArchive tbody .inboxArchive .col-xs-12 .row {
    color: black;
    margin: 10px;
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 15px 15px;
    background-color: var(--accordion-primary-background-color);
}

#moavaListMessageArchive tbody .inboxArchive .col-xs-12 .row .col-xs-12 {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
}

#moavaListMessageArchive tbody .inboxArchive .col-xs-12 .row .col-xs-12 a {
    color: black;
}

#moavaListMessageArchive tbody .inboxArchive .col-xs-12 .row .col-xs-12 a:hover {
    color: var(--accordion-primary-text-color-hover)
}

@media screen and (min-width: 767px) {
    #moavaListMessageArchive tbody .inboxArchive .col-xs-12 .row .col-xs-12 {
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
    }
}



/* Overstyre bootstrap */

#moavaListMessageArchive .list-group {
    padding-left: 0;
    margin-bottom: 0px !important;
    background: transparent;
}


/* Melding utenfor accordion */
#moavaListMessageArchive .inboxMessage::before {
    position: relative;
    display: block;
    font-size: 1em;
    content: "Nytt varsel!";
    margin: 1px 10px 10px 0;
    font-weight: bold;
    color: var(--accordion-primary-text-color);
}

#moavaListMessageArchive .inboxMessage {
    padding: 15px;
    color: black;
    text-align: left;
    border: 1px solid transparent;
    border-style: dashed;
    border-color: var(--accordion-primary-text-color);
    border-radius: 4px;
    background: var(--accordion-primary-background-color);
    margin-bottom: 15px;
}

/* Skal kanskje fjernes. Melding ulest på innsiden av accordion(se heller melding utenfor)
#moavaListMessageArchive a.inboxUnread {
    color: var(--accordion-primary-text-color);
    font-weight: 600;
    font-size: 16px;
}
#moavaListMessageArchive .inboxUnread::before {
    position: relative;
    font-size: 1em;
    content: "Nytt varsel";
    margin: 1px 10px 10px 0;
    background: var(--accordion-primary-text-color);
    padding: 8px 8px;
    border-radius: 4px;
    color: white;
    display: block;
    width: 100%;
}
@media screen and (min-width: 767px) {
    #moavaListMessageArchive .inboxUnread::before {
        display: inline-block;
        margin: 2px 10px 2px 0;
        width: auto;
    }
}
 */

#moavaListMessageArchive caption.inboxArchive {
    padding: 15px;
    color: black;
    text-align: left;
    border: 1px solid transparent;
    border-style: dashed;
    border-color: var(--brand-color-secondary-dark);
    border-radius: 4px;
    background: var(--brand-color-secondary-light);
    margin-bottom: 15px;
}

#moavaListMessageArchive caption.inboxArchive h3 {
    margin-top: 0px;
}